/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store

# Sublime Text #
################
*.sublime-workspace
*.sublime-project
# keep any sublime-project files within version control
